.wrapper {
  overflow: auto;
}

.balance_cont {
  margin: 20px auto;
}

.wins {
  margin: 20px auto 80px;
  width: 360px;
}

.bet {
  position: relative;

  width: 100%;
  height: 96px;
}

.bet_line {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
}

.bet_text {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  font-size: 24px;
}
